<script >
  $(function() {
    $('.lessons').sortable({
     update: function( event, ui ) {
        $.ajax({
          type: 'PUT',
          url: ui.item.data('update-url'),
          dataType: 'json',
          data: { lesson: { row_order_position: ui.item.index() } }
        });
      }
    });
  });
</script>



<br />

<div class="booyah-box col-10 offset-1">
  <h1>What I'm Learning</h1>
  <% current_user.enrolled_courses.each do |course| %>
    <h3 class="text-center">
      <%= link_to course.title, course_path(course) %>
    </h3>
    <br />
     <%= image_tag course.image, class: 'img-fluid' %>
     <br />
    <div class="row">
      <div class="col-12 col-sm-8">
        <%= course.description %>
      </div>
      <div class="col-12 col-sm-4 text-center">
        <%= link_to "More Info...", course_path(course), class: 'btn btn-lg btn-primary' %>
      </div>
    </div>
    <% end %>

    <h1>What I'm Teaching</h1>
  <% current_user.courses.each do |course| %>
    <h3 class="text-center">
      <%= link_to course.title, course_path(course) %>
    </h3>
    <br />
    <%= image_tag course.image, class: 'img-fluid' %>
    <br />
  <div class="row">
    <div class="col-12 col-sm-8">
      <%= course.description %>
    </div>

    <div class="col-12 col-sm-4 text-center">
      <%= link_to "More Info...", course_path(course), class: 'btn btn-lg btn-primary' %>
    </div>
  </div>

    <hr class="col-8 offset-2">
    <br class="clr" />


  <% end %>
</div>

<div class="booyah-box col-10 offset-1">
  <h1><%= @course.title %></h1>
  <%= image_tag @course.image, class: 'img-fluid' %>
  <br />
  <div class="row">
    <div class="col-sm-4 col-12">
      <span class="badge badge-default">
        <%= number_to_currency @course.cost %>
      </span>

      <% if current_user && current_user == @course.user %>
        <br />
        <br />
        <%= link_to 'Administer', instructor_course_path(@course), class: 'btn btn-danger btn-large' %>
      <% end %>

      <br />
      <br />


      <% if current_user %>
        <% if current_user.enrolled_in?(@course) %>
          <h3 class="badge badge-info">You Are Enrolled!</h3>
      <% else %>
       <% if @course.free? %>
      <%= link_to 'Enroll', course_enrollments_path(@course), class: 'btn btn-primary', method: :post %>
    <% else %>
      <%= form_tag course_enrollments_path(@course) do %>
        <script src="https://checkout.stripe.com/checkout.js" class="stripe-button"
                data-key="<%= Rails.configuration.stripe[:publishable_key] %>"
                data-email="<%= current_user.email %>"
                data-description="<%= @course.title %> (<%= number_to_currency @course.cost %>)"
                data-amount="<%= (@course.cost * 100).to_i %>"
                data-locale="auto"></script>
        <% end %>
      <% end %>
      <% end %>
      <% end %>
      <h3 class="badge badge-info"> Sign In to Enroll!</h3>
    </div>

    <div class="col-sm-8 col-12">
      <%= @course.description %>
    </div>
  </div>

  <div class="col-12">
    <% @course.sections.each do |section| %>
    <br /><br />

      <ul class="sections">
        <% current_course.sections.rank(:row_order).each do |section| %>
          <li data-update-url="<%= instructor_section_path section %>" class="section-li">
              <div class="header float-left">
              <span class="fa fa-ellipsis-v"></span>
                <%= section.title %>
              </div>
              <%= link_to 'New Lesson', new_instructor_section_lesson_path(section), class: 'float-right btn btn-primary btn-sm' %>
              <br class="clr" />
              <br class="crl" />
              <ul class="lessons">
                <% section.lessons.rank(:row_order).each do |lesson| %>
                  <li data-update-url="<%= instructor_lesson_path lesson %>">
                    <div class="row">
                      <div class="col-1">
                        <br />
                      <span class="fa fa-ellipsis-v"></span>
                    </div>
                    <div class="col-11 text-center">
                    <p>
                      <b><%= lesson.title %></b>
                    </p>
                    <p>
                        <%= lesson.subtitle %>
                    </p>
                  </div>
                </div>
                  <br class="clr" />
                </li>
                <% end %>
              </div>
            </div>
          <% end %>
        </div>
        <br class="clr" />
      </div>
    <% end %>
  </div>
</div>
  